GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SUPABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

ALLOWED_ORIGINS=http://localhost:3000,https://your-production-domain.com
APP_ENV=development